.logo{
    margin-left: 700px;
}

.home{
    text-align: left;
}
.offers{
    text-align: left;
    
}
.menu{
    text-align: left;
}
li{
    display:inline-flex; 
    justify-content: space-between;  
    margin-left: 40px; 
}
.container{
    background-color: rgba(44, 71, 224, 0.637);
    color: whitesmoke;
}
#dis{
    display: none;
    background-color: rgb(111, 177, 231);
    font-family: 'Times New Roman', Times, serif;
    margin-right: 700px;
    margin-left: 100px;
    text-align: justify;
}
.a1{
    background-color: rgb(14, 14, 182);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.a2{
    background-color: rgb(15, 180, 192);
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.a3{
    background-color: rgb(54, 164, 228);
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
#offer{
    display: none;
    max-width:1600px;
     min-width:900px;
     max-height:600px; min-height:200px;
    text-align: center;
}